@charset "utf-8";

html{
    font-size: 100.5%;
}

h1{
    color:darkred;
    background: #e6e6fa;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

h2{
    color:darkcyan;
    background: #e6e6fa;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

table{
    width: 70%;
    border-collapse:separate;
    border-spacing: 0;
    margin:10px auto;
}

table th:first-child{
    border-radius: 5px 0 0 0;
}

table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 10px 0;
}

table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 0;
}


table td:last-child{
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 5px 5px;
}

table tr:nth-child(odd){
    background-color: #eee
}



