.main_content{
    width:60%;
    height:320px;
    /*background-color: darkred;*/
    margin:20px auto;
    display: flex;
}

    .main_content #img2{
        width:15%;
        margin-right:3%;
    }

    .main_content #img3{
        width:56%;
        margin-right:3%;
    }

    .main_content #login_form{
        width:35%;
    }


        .main_content #login_form #index{
            display:flex;
            height:50px;
        }

            .main_content #login_form #index .title{
                width: 45%;
                background-color: darkcyan;
                text-align: center;
                padding-top:10px;
                margin:0 2.5%;

                font-weight:bold;
            }


        .main_content #login_form #submit{
            margin:15px auto 0 auto;

        }

        .main_content #login_form #create{
            margin:15px auto 0 auto;
        }