header{
    background-color: blue;
    width:100%;
    height:5vh;
    position: relative;
}

    header #content{
        width:80%;
        height:5vh;
        display:flex;
        margin:0 auto;
    }

    header #content #create{
        background-color: #5959fa;
        width:20%;
        height:5vh;
        position: absolute;
        text-align: center;
        padding-top: 1.5vh;
    }

    header #content #create a{
        color:white;
        text-decoration: none;
    }

    header #content #create a:hover{
        color:orange;
    }

    header #content #index{
        background-color: #5959fa;
        width:20%;
        height:5vh;
        position: absolute;
        text-align: center;
        padding-top: 1.5vh;
    }

    header #content #index a{
        color:white;
        text-decoration: none;
    }

    header #content #index a:hover{
        color:orange;
    }