#yucky_books{
    width:80%;
    margin:0 auto;
}

    #yucky_books #box{
        display: flex;
        height:5vh;
        width:100%;
    }

        #yucky_books #box #checkbox{
            width:5%;
            height: 3vh;
            padding-top: 1vh;
        }

        #yucky_books #box #id{
            width:5%;
            height: 3vh;
            padding-top: 1vh;
        }

        #yucky_books #box #title{
            width:25%;
            height: 3vh;
            background-color: whitesmoke;
            padding-top: 1vh;
        }

        #yucky_books #box #author{
            width:25%;
            height: 3vh;
            padding-top: 1vh;
        }

    #yucky_books #box2{
        display: flex;
        height:5vh;
        width:100%;
    }

        #yucky_books #box2 #release_date{
            width:15%;
            height: 3vh;
            padding-top: 1vh;
            margin-left:20%;
        }

        #yucky_books #box2 #lending_situation{
            width:10%;
            height: 3vh;
            padding-top: 1vh;
        }

        #yucky_books #box2 #created_at{
            width:25%;
            height: 3vh;
            background-color: whitesmoke;
            padding-top: 1vh;
        }

        #yucky_books #box2 #edit{
            width:10%;
            height: 3vh;
            padding-top: 1vh;
        }


