@charset "utf-8";

html{
    font-size: 62.5%;
}

h1{
    background: #e6e6fa;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.login {
    background: #ffffff;
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    color: #333;
    font-size: 1.6rem;
}