header{
    width:100%;
    height:8vh;
    background-color: #0d7de1;
    /*display:flex;*/
    margin: 0 auto;
}

    /*header #box{*/
    /*    width:20%;*/
    /*    height:5vh;*/
    /*    margin-top:1vh;*/
    /*}*/
    /*header #logo{*/
    /*    width:100%;*/
    /*    height:4vh;*/
    /*}*/


    header #text{
        /*margin-left:2%;*/
        /*width:28%;*/
        /*margin-top:1vh;*/
        font-size:1vh;
        height:1vh;
    }

    /*header .contents{*/
    /*    width:15%;*/
    /*    height:6vh;*/
    /*    margin-top:1vh;*/
    /*}*/

    /*    header .contents p{*/
    /*        height:1vh;*/
    /*        font-size:1vh;*/
    /*        text-align: center;*/
    /*    }*/





