#main_content1{
    width:100%;
}

    #main_content1 #prefecture{
        width:100%;
        /*background-color:red;*/
        display:flex;
        flex-wrap: wrap;
    }

        #main_content1 .border_box{
            background-color:lightslategrey;
            height:5vh;
            padding-top: 1vh;
            width:100%;
        }

        #main_content1 #prefecture .column{
            width:25%;
            height:3vh;
            margin-top:0.5vh;
            text-align: center;
            border: 0.5vh solid rgba(0,0,0,.125);
        }

    #main_content1 #naika{
        width:100%;
        /*background-color:red;*/
        display:flex;
        flex-wrap: wrap;
    }

        #main_content1 .border_box{
            background-color:lightslategrey;
            height:5vh;
            padding-top: 1vh;
            width:100%;
        }

        #main_content1 #naika .column{
            width:25%;
            height:3vh;
            margin-top:0.5vh;
            font-size:2vh;
            text-align: center;
            border: 0.5vh solid rgba(0,0,0,.125);
        }

    #main_content1 #geka{
        width:100%;
        /*background-color:red;*/
        display:flex;
        flex-wrap: wrap;
    }

        #main_content1 .border_box{
            background-color:lightslategrey;
            height:5vh;
            padding-top: 1vh;
            width:100%;
        }

        #main_content1 #geka .column{
            width:25%;
            height:3vh;
            margin-top:0.5vh;

            font-size:2vh;
            text-align: center;
            border: 0.5vh solid rgba(0,0,0,.125);
        }

    #main_content1 #sonota{
        width:100%;
        /*background-color:red;*/
        display:flex;
        flex-wrap: wrap;
    }

        #main_content1 .border_box{
            background-color:lightslategrey;
            height:5vh;
            padding-top: 1vh;
            width:100%;
        }

        #main_content1 #sonota .column{
            width:25%;
            height:4.5vh;
            margin-top:0.5vh;

            font-size:2vh;
            text-align: center;
            border: 0.5vh solid rgba(0,0,0,.125);
        }


