#picture{
    height:20vh;
}

.slider.slick-initialized.slick-slider{
    margin: 0 auto;
    display:flex;
    width:100%;
}

#picture .slider .slick-list.draggable{
    height:20vh;
    width:80%;
}

#picture .slider .prev.slick-arrow{
    width:10%;
    background-color: #e6e5e3;

    font-size:2vh;
    padding-top:8vh;
}

#picture .slider .next.slick-arrow{
    width:10%;
    background-color: #e6e5e3;

    font-size:2vh;
    padding-top:8vh;
}

.slider img{
    height: 20vh;
    width: 100%;
}